.counter {
  border: 1px solid black;
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
}

.counter button {
  background-color: rgb(136, 111, 160);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.counter button:hover {
  background-color: rgb(226, 206, 246);
}

.clockControl {
  text-decoration: underline;
  cursor: pointer;
}
